$base-font-size: 18px;

$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #00000080;

$color-background: #F4F2EE;

$color-orange: #FF8661;
$color-red: #F44747;
$color-blue: #3389AA;
$color-pink: #F4C6C9;

