::-moz-selection { /* Code for Firefox */
    color: $color-background;
    background: $color-black;
}
  
::selection {
    color: $color-background;
    background: $color-black;
}

.circle {
    display: none;
}

canvas {
    display: none;
}

.page {
    //cursor: auto;
    cursor: url("../assets/images/cursor.svg") 12 12, auto;
    background-color: $color-background;

    &__heading {
        padding: rem(20px) rem(15px) 0;
        text-align: center;
    }

    &__subject {
        // padding: rem(58px) rem(50px);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        &--long {
            position: relative;
            padding: rem(30px);

            @include montserrat-regular;
        }
    }

    &__subject-eye {
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.page-loader{
    cursor: progress;
}

@include mq-regular {
    canvas {
        display: block;
    }
    
    .page {
        &__heading {
            padding: rem(12px) 0 0;
        }

        &__subject {
            padding: rem(28px) rem(50px);

            &--long {
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                /* position: revert; */
                padding: rem(100px);
    
                @include montserrat-regular;

                &__text {
                    width: rem(500px);
                }
            }
        }

        &__subject-eye {
            bottom: auto;
            top: 50%;
        }
    }

}

@include mq-wide {
    .circle {
        display: block;
        
        width: rem(70px);
        height: rem(70px);
        // background-image: url("../assets/images/cursor.png");
        // background-repeat: no-repeat;
        //border: 1px solid red;
        //border: rem(1px) solid #000000;
        z-index: 100 !important;
        pointer-events: none;
        position: absolute;
        // display: table-cell;
        // text-align: center;
        // vertical-align: middle;
        //mix-blend-mode: difference;
      
        font-size: rem(8px);
    }
    .page {
        &__heading {
            padding: rem(24px) 0 0;
        }
    }
}

.page-loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

