.page {
    background-color: $color-background;

    &__heading {
        padding: rem(38px) 0 0;
        text-align: center;
    }

    &__subject {
        padding: rem(58px) rem(50px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__subject-eye {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@include mq-regular {
    .page {
        &__heading {
            padding: rem(12px) 0 0;
        }

        &__subject {
            padding: rem(28px) rem(50px);
        }
    }

}

@include mq-wide {
    .page {
        &__heading {
            padding: rem(24px) 0 0;
        }
    }
}

.page-loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

