.eye__container {
  width: 5rem;
  height: 5rem;
  position: relative;


  &::after {
    content: 'all seeing eye';
    position: absolute;
    bottom: -1.5rem;

    width: max-content;
    text-align: center;
    opacity: 0.5;

    // -webkit-transform: translatetranslate(-10px, 10px);
    // transform: translate(-10px, 10px);
  }
}

.eye-outer {
  fill: none;
  position: fixed;
}
  
.eye-inner {
  fill: #000;
}

.eye__eyelid {
  position: absolute;

  height: inherit;
  -webkit-transform: translate(0%, -25%);
  transform: translate(0%, -25%);
}

#svg-eye {
  position: absolute;
  height: inherit;
  top: 0;
}
