.eye__container {
  width: 5rem;
  height: 5rem;
  position: relative;
}

.eye-outer {
  fill: none;
  position: fixed;
}
  
.eye-inner {
  fill: #000;
}

.eye__eyelid {
  position: absolute;

  height: inherit;
  -webkit-transform: translate(0%, -25%);
  transform: translate(0%, -25%);
}

#svg-eye {
  position: absolute;
  height: inherit;
  top: 0;
}
